<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <description>HSQLDB System Code Administration</description>
  <display-name>SystemCodeAdministration</display-name>
  <servlet>
    <display-name>IndexSevlet</display-name>
    <servlet-name>IndexSevlet</servlet-name>
    <servlet-class>com.skycargo.servlets.IndexSevlet</servlet-class>
  </servlet>
  <servlet>
    <description>To organised the data into object.</description>
    <display-name>InputServlet</display-name>
    <servlet-name>InputServlet</servlet-name>
    <servlet-class>com.skycargo.servlets.InputServlet</servlet-class>
  </servlet>
  <servlet>
    <description>To save data to db</description>
    <display-name>SaveServlet</display-name>
    <servlet-name>SaveServlet</servlet-name>
    <servlet-class>com.skycargo.servlets.SaveServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.skycargo.servlets.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexSevlet</servlet-name>
    <url-pattern>/IndexSevlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InputServlet</servlet-name>
    <url-pattern>/InputServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveServlet</servlet-name>
    <url-pattern>/SaveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>ServletException</exception-type>
    <location>/ExceptionPage.jsp</location>
  </error-page>
  <error-page>
    <exception-type>UnhandledException</exception-type>
    <location>/ExceptionPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/ExceptionPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/ExceptionPage.jsp</location>
  </error-page>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
  <resource-ref>
    <description>MYSQLDB Connection</description>
    <res-ref-name>jdbc/MYSQLDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>LoginAuthenticatorServlet</display-name>
    <servlet-name>LoginAuthenticatorServlet</servlet-name>
    <servlet-class>com.skycargo.servlets.LoginAuthenticatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAuthenticatorServlet</servlet-name>
    <url-pattern>/LoginAuthenticatorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNextIdServ</display-name>
    <servlet-name>GetNextIdServ</servlet-name>
    <servlet-class>com.skycargo.servlets.GetNextIdServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNextIdServ</servlet-name>
    <url-pattern>/GetNextIdServ</url-pattern>
  </servlet-mapping>
</web-app>